<config>
    <rootDir>D:\tools</rootDir>
    <settings>
        <welcomeMessage>welcome to FTP written by skye you
this is the second line
this is the third line</welcomeMessage>
        <encoding>UTF-8</encoding>
        <loginTimeout>60</loginTimeout>
        <connectionTimeout>0</connectionTimeout>
    </settings>
</config>