<config>
    <rootDir>D:\GitRoot</rootDir>
    <users>
        <user>
            <username>user</username>
            <password>user</password>
        </user>
    </users>
    <settings>
        <welcomeMessage>welcome to FTP written by skye you</welcomeMessage>
        <loginTimeout>60</loginTimeout>
        <connectionTimeout>0</connectionTimeout>
    </settings>
</config>